<% if @student.errors.any? %>
  <%= pluralize(@student.errors.count, "error") %>
  prohibited you profile from being created
  <ul>
    <% @student.errors.full_messages.each do |message|  %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<div class=container>
  <div class="row center">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h3 class="header">Sign up!</h3>
        <div class="row">
          <%= form_for(@student, html: {class: "col s12"}) do |f| %>
            <div class="row">
              <div class="input-field col s12">
                <%= f.text_field :name, placeholder: "Enter your fullname", autofocus: true %>
                <%= f.label :name %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= f.email_field :email, placeholder: "Enter you email" %>
                <%= f.label :email %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= f.submit "Submit", class: "btn orange waves-effect waves-light right " %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>