<header>
  <ul id="dropdown1" class="dropdown-content">
    <% if (logged_in?) %>
      <li><%= link_to "logout", logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "login", login_path %></li>
    <% end %>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <% if (logged_in?) %>
      <li><%= link_to "logout", logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "login", login_path %></li>
    <% end %>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <%= link_to "Tech University", root_path, class: "brand-logo right" %>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%= link_to "Courses", root_path %></li>
            <% if logged_in? %>
          <li><%= link_to "Students", students_path %></li>
          <% end %>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul class="sidenav" id="mobile-demo">
          <li><%= link_to "Courses", root_path %></li>
            <% if logged_in? %>
          <li><%= link_to "Students", students_path %></li>
          <% end %>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Account<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        </ul>
      </div>
    </div>
  </nav>

  <%= render 'layouts/flash'%>
</header>